<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>

    <a th:href="@{student/add"}>add student</a >

</h2>

<table border="1">
    <thead>
    <td>ID</td>
    <td>name</td>
    <td colspan="2">Active</td>
    </thead>
    <tr th:each="student : ${students}"></tr>

    <tr th:each="section : ${sections}">
        <td th:text="${section,id}"></td>
        <td th:text="${section,name}"></td>
        <td><a th:href="@{'/section/edit/'+ ${section.id }}">Edite</a></td>
        <td><a th:href="@{/student/delet/{id}(id=$student.id)}">Delet</a></td>
    </tr>


</table>


</body>
</html>