<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<!--
    <form method="post" th:action="@{/admin/add}" th:object="${administrator}">

        <input type="text" placeholder="Insert your name!" th:field="*{name}">
        <input type="text" placeholder="Insert your password" th:field="*{password}">
        <input type="submit" value="Insert" />

    </form>

    <table border="1px">
        <thead><td>Id</td><td>Name</td><td>Password</td></thead>

        <tbody>
            <tr th:each="admin: ${admins}">
                <td th:text="${admin.id}"></td>
                <td th:text="${admin.name}"></td>
                <td th:text="${admin.password}"></td>
            </tr>
        </tbody>
    </table>
-->
<h1>Salam , I am template</h1>

</body>
</html>